fastapi~=0.103.1
uvicorn[standard]
pydantic~=2.3.0
pandas
openpyxl
scikit-learn
pydantic
pytest
pylint
fastapi[test]
python-multipart
httpx
gap-stat
SQLAlchemy
SQLAlchemy[asyncio]
fastapi-users[sqlalchemy]
matplotlib
pymysql
joblib
aiosqlite
aiomysql
numba